body{
    margin: 0;
    padding: 0;
    background: #333;
}
.div1{
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    text-align: center;
    background: #222;
    border: 5px solid white;
    border-radius: 30px;
}
h1{
    padding: 0px;
    text-transform: uppercase;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    color: rgb(255,255,255,0.1);
    position: absolute;
    top: 14%;
    left: 53%;
    letter-spacing: 25px;
    font-size: 75px;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
/*
    background-image: url(../BackGround/vl.ecoin.com.vn-59e81fb4012c22b8efc9b4fbf7c574b0-0.jpg);
    background-repeat: repeat-x;
*/
    -webkit-background-clip:text;
    background-size: 400%;
    animation: animate11 60s linear infinite;
    
}
@keyframes animate11{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
h2{
    padding: 0px;
    text-transform: uppercase;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    color: rgb(255,255,255);
    position: absolute;
    top: 37%;
    left: 50%;
    letter-spacing: 8px;
    font-size: 14px;
    width: 600px;
}
.div3{
    position: absolute;
    top: 55%;
    left: 50%;
}
.div31{
    position: absolute;
    top: 70%;
    left: 50%;
}
.div32{
    position: absolute;
    top: 85%;
    left: 50%;
}

.div3,.div31,.div32{
    margin:0px;
    border: none;
    padding: 0;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size:  400%;
    border-radius: 30px;
    z-index: 1;
    float: left
}
.div3:hover,.div31:hover,.div32:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.div3:before,.div31:before
/*,.div32:before*/
{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}
.div3:hover:before,.div31:hover:before
/*,.div32:hover:before*/
{
    filter: blur(20px);
    opacity: 1;
}
input[type = "text"]{
    
    transform: translate(-50%,-50%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 50px;
    padding: 0px;
    border: none;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #222;
    border-radius: 30px;
    z-index: 1;
}
input[type = "password"]{
    
    transform: translate(-50%,-50%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 50px;
    padding: 0px;
    border: none;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #222;
    border-radius: 30px;
    z-index: 1;
}
input[type = "text"]:focus,input[type = "password"]:focus{
    animation: inputanima 0.5s ;
    animation-fill-mode: forwards;
}
@keyframes inputanima{
   0%{
       width: 200px;
       height: 60px;
       background-color: #03a9f4;
       opacity: 0.1;
    }
    100%{
        width: 400px;
       height: 60px;
       background-color: #fff;
        color: black;
    }
}
input[type = "submit"]{
    width: 200px;
    height: 60px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    background: rgb(0,0,0,0);
    display: block;
    text-align: center;
    border: none;
    outline: none;
    color: black;
    transition: 0.25s;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    box-sizing: border-box;
/*
    transform: translate(-50%,-50%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 50px;
    padding-top: -4px;
    border: none;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #222;
    border-radius: 30px;
    z-index: 1;
*/
}
input[type = "submit"]:hover{
    animation: colorfont 0.4s linear ;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    animation-timing-function: steps(10);
}
@keyframes colorfont{
   0%{
       background-color: #fff;
       opacity: 0.2;
       border-radius: 30px;
    }
    100%{
        background-color: #f441a5;
        opacity: 0;
        width: 250px;
        height: 90px;
        font-size: 35px;
    }
}

#video_background {
position: absolute;
top:0;
left: 0;
min-width: 100%;
min-height: 100%;
width: 100%;
height: auto;
z-index: -1000;
overflow: visible ;
filter: blur();
opacity: 0.2;
}